<?php  	
	$CONFIG_DATABASE_SERVER = "localhost";
	$CONFIG_DATABASE_DATABSE = "unit0Cord";
	$CONFIG_DATABASE_USER = "unit0Cord";
	$CONFIG_DATABASE_PASS = "123456";
	
	$CONFIG_IP_ADDRES_URL = "http://192.168.153.131/unit0/InstanceCoordinator/";
?>
